body {
    background-image: url("https://t3.ftcdn.net/jpg/01/44/39/46/240_F_144394638_hBhlF3j2AS5JBvNxKdnyrbJPGfKUKONs.jpg");
   
  }

  .upper {
      text-align: center;

  }


.home { 
    color: white;
    font-family: filicudi-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    }



    .upper {
        text-align: center;
    
    }
    
    
    .header {
    
      display: inline-block;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom:  20px;
      padding-top:10px;
      width: 550px;
      height: 20px;
      background: black;
      margin-bottom:  20px;
      color:white;
      font-family: flegrei, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
   vertical-align: top;
    }
   
    
    
    a:link {
        color: pink;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
      }
    
    
    
    
    
    .left {
    
      float:left;
      
    }
     
    .right {
      float:right;

    }
    




.restrict{

    height: fit-content;
    background: white;
    border: red;
    border-radius: 0px;
    border:100px;
border-style:double;
padding: 19px;
margin-top: 60px;
margin-right: 60px;
margin-left: 60px;

}


.levelnumb {
font-family: sarina, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 30px;

}

.title {
    font-family: minion-3, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-right: auto;
    margin-left: 25px ;
  
}



li {
    font-family: minion-3, serif;
    font-weight: 400;
    font-style: normal;
    font-size:17px;
    text-overflow: ellipsis;
    margin-right: auto;
   
    text-indent: -24px; 
    margin-left: 24px;

}

.text {
    font-family: minion-3, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    margin-right: auto;
    margin-left: auto;
    
}